*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}

.tabel-order td{
    font-size: small;
    box-sizing: border-box;
    padding: 4px;
}

.tabel-order th{
    box-sizing: border-box;
    padding: 6px 4px;
}

.tbl-30{
    width: 30%;
}

table tr th{
    background-color: #bace;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
    /* border: 1px solid #7c6791; */
}

.btn-primary{
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #2ed573;
}

.btn-danger{
    background-color: #ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ff4757;
}
td a.btn-up{
    padding: 2px 6px;
    border-radius: 3px;
}


div.login-sukses{
    color: #00b100;
}

.success{
    color: #2ed573;
}
.error{
    color: #ff4757;
}


/* css untuk menu */
.menu{
    padding: 8px 0;
    /* border-bottom: 1px solid grey; */
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}
.menu ul li a:hover{
    color: #ff4757;
}

/* css untuk main-content */
.main-content{
    background-color: #dbd0c0;
    padding: 3% 0;
}
.col-4{
    width:23%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
    box-sizing: border-box;
    border-radius: 4px;  
}



/* css untuk footer */
.footer{
    background-color: #ffa19a;
    padding: 20px;
    color: black;
}

/* CSS for login */
.login{
    border: 1px solid grey;
    width: 25%;
    margin: 10% auto;
    padding: 2%;
}